<div class="form-row mt-5">
  <h5>
    <label>Location</label>
  </h5>
  <div class="col-10 mt-3">
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="address"
        [formControl]="addressCheckboxFormControl"
      />
      <label class="form-check-label ms-2 mt-1" for="address">Address</label>
    </div>
    <input
      [formControl]="addressFormControl"
      type="search"
      class="form-control mb-3"
      placeholder="Address..."
    />
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="online"
        [formControl]="lineMeetingCheckboxFormControl"
        checked
      />
      <label class="form-check-label ms-2 mt-1" for="online"
        >Online meeting</label
      >
    </div>
    <input
      [formControl]="lineMeetingFormControl"
      type="search"
      class="form-control"
      placeholder="Paste meeting link..."
    />
  </div>
</div>
