<div class="form-row mt-5 ms-4">
  <h5>
    <label>Invitees</label>
  </h5>
  <ul class="nav nav-tabs divider-btm" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link ps-0"
        [class.active]="isTabBoardActive"
        id="board-tab"
        (click)="activeTab(true, false)"
        data-bs-toggle="tab"
        data-bs-target="#board"
        type="button"
        role="tab"
      >
        Board
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link ps-0"
        [class.active]="isTabGuestsActive"
        id="guests-tab"
        (click)="activeTab(false, true)"
        data-bs-toggle="tab"
        data-bs-target="#guests"
        type="button"
        role="tab"
      >
        Guests
      </button>
    </li>
  </ul>

  <div class="col-12 mt-4">
    <div *ngIf="isTabBoardActive">
      <input
        type="search"
        class="search form-control mb-3"
        placeholder="Search..."
      />
      <div class="form-check mb-3">
        <input
          [formControl]="allInviteesFormControl"
          class="form-check-input"
          type="checkbox"
          value=""
          id="all"
        />

        <label class="form-check-label ms-2 mt-1" for="all">All</label>
      </div>
      <div class="divider-top">
        <div *ngFor="let invitee of boardInvitees; let i = index" class="mt-3">
          <div class="form-check mb-3">
            <input
              class="form-check-input mt-2"
              [formControl]="boardInviteeFormControl"
              type="checkbox"
              value=""
              id="invitee"
            />
            <label class="form-check-label ms-2" for="invitee">{{
              invitee?.name
            }}</label>
            <p class="ms-2 d-block xsmall role">{{ invitee?.role }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isTabGuestsActive">
      <p class="xsmall">
        Invite guest by adding their e-mail - they get just the invitation, no
        access to docs etc.
      </p>
      <div *ngFor="let guestEmailAddress of guestEmailAddresses; let i = index">
        <div class="mb-2">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </span>
          <span class="ms-2">{{ guestEmailAddress }}</span
          ><span class="float-end"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </span>
        </div>
      </div>
      <input
        [formControl]="guestFormControl"
        type="search"
        class="form-control mb-3 mt-3"
        placeholder="Email address..."
      />
      <button
        type="button"
        class="btn btn-dark mb-3"
        [disabled]="!isButtonActive"
        (click)="addGuest()"
      >
        Add guest
      </button>
    </div>
  </div>
</div>
