<div class="container">
  <div class="row divider-btm">
    <div class="col-12"></div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-8 divider-rght">
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <h4>
              <span>New meeting</span>
            </h4>

            <app-meeting-type></app-meeting-type>
            <app-meeting-name></app-meeting-name>
            <app-date-and-time></app-date-and-time>
            <app-location></app-location>
          </div>
        </div>
      </div>
      <div class="col-4">
        <app-invitees></app-invitees>
      </div>
    </div>
  </div>
</div>
