<div class="container">
  <div class="row divider-btm">
    <div class="col-12"></div>
  </div>
  <div class="form" [formGroup]="form">
    <div class="row">
      <div class="col-8 divider-rght">
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <h4>
              <span>New meeting</span>
            </h4>

            <app-meeting-type
              [meetingTypeFormControl]="meetingTypeFormControl"
              (meetingTypeValueEventEmitter)="setMeetingNameValue($event)"
            ></app-meeting-type>
            <app-meeting-name
              [meetingNameFormControl]="meetingNameFormControl"
            ></app-meeting-name>
            <app-date-and-time
              [dateFormControl]="dateFormControl"
              [timeFromFormControl]="timeFromFormControl"
              [timeToFormControl]="timeToFormControl"
            ></app-date-and-time>
            <app-location
              [addressFormControl]="addressFormControl"
              [lineMeetingFormControl]="lineMeetingFormControl"
              [addressCheckboxFormControl]="addressCheckboxFormControl"
              [lineMeetingCheckboxFormControl]="lineMeetingCheckboxFormControl"
            ></app-location>
          </div>
        </div>
      </div>
      <div class="col-4">
        <app-invitees
          [allInviteesFormControl]="allInviteesFormControl"
          [guestFormControl]="guestFormControl"
          [boardInviteeFormControl]="boardInviteeFormControl"
          [boardInvitees]="boardInvitees"
        ></app-invitees>
      </div>
    </div>
  </div>
</div>
